{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Equipamento - {{ block.super }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Equipamento</h4>
        <a href="{% url 'equipment:equipment_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-6">
                    {{ form.equipment_type|crispy }}
                </div>
                <div class="col-md-6">
                    {{ form.brand_model|crispy }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form.serial_number|crispy }}
                </div>
                <div class="col-md-6">
                    {{ form.responsible|crispy }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.description|crispy }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.is_active|crispy }}
                </div>
            </div>

            <div class="text-end mt-4">
                <a href="{% url 'equipment:equipment_list' %}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %} 