{% extends 'base.html' %}

{% block title %}Senha Alterada - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Senha Alterada</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <i class="fas fa-check-circle"></i> Sua senha foi alterada com sucesso!
                </div>
                <div class="text-center">
                    <a href="{% url 'users:profile' %}" class="btn btn-primary">
                        <i class="fas fa-user"></i> Voltar para o Perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 